header {
  position: fixed;
  width: 100%;
  background-color: var(--secondary-bg);
  box-shadow: 0 2px 100px rgb(0, 56, 130);
  padding: 1rem;
  display: flex;
  justify-content: center;
  height: 5rem;
  font-weight: 600;
  z-index: 100;
  opacity: 0.9;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;

  .nav-right {
    z-index: 5;
    display: flex;
    align-items: center;
    gap: 3rem;

    @media (max-width: 768px) {
      display: none;
      background-color: #111827;
      padding: 2rem;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
    }
  }
}
