:root {
  --primary-bg: #1f2937;
  --secondary-bg: #111827;
  --primary-color: #ffffff;
  --hover-link: #c2c2c2;
  --hover-btn: #202c4b;
  --accent: rgb(0, 73, 162);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  background-color: var(--primary-bg);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.1s ease;

  &:hover {
    color: var(--hover-link);
  }
}

header {
  position: relative;
  background-color: var(--secondary-bg);
  box-shadow: 0 2px 100px rgb(0, 30, 70);
  padding: 1rem;
  display: flex;
  justify-content: center;
  height: 4rem;
  font-weight: 600;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;

    .brand-name {
      font-size: 1.2rem;
      letter-spacing: 0.5px;
      transform: scaleY(1.1);
    }

    .menu-icon {
      display: none;
      font-size: 1.2rem;
      transform: scaleX(1.3);
      cursor: pointer;

      @media (max-width: 768px) {
        display: block;
        position: absolute;
        right: 2rem;
      }
    }

    .nav-right {
      display: flex;
      align-items: center;
      gap: 3rem;

      @media (max-width: 768px) {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        background-color: var(--secondary-bg);
        padding: 1rem 0;
        box-shadow: 0 2px 22px black;
        gap: 1rem;

        &:active {
          display: flex;
        }
      }
    }
  }
}

h1 {
  font-size: 5.4rem;
  font-weight: 600;
  text-shadow: 0 10px 70px var(--accent);
  margin-top: 6rem;

  @media (max-width: 768px) {
    font-size: 4rem;
    margin-top: 8rem;
  }

  @media (max-width: 425px) {
    font-size: 3rem;
    margin-top: 4rem;
  }
}

h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

main {
  background: linear-gradient(135deg,var(--primary-bg), var(--secondary-bg), var(--secondary-bg), var(--secondary-bg));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section,
footer {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 5rem;
  min-height: 100vh;

  @media (max-width: 768px) {
    padding: 2rem;
  }
}

#hero-section {
  gap: 3rem;

  .content {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    font-size: 1.1rem;
    opacity: 0.8;
  }
}

button {
  cursor: pointer;
  font-size: 1rem;
  background: transparent;
  color: white;
  border: none;

  &:hover {
    color: var(--hover-link);
  }
}

.email-input {
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.1s ease-in-out;
  max-width: 350px;

  * {
    border-radius: 2rem;
    outline: none;
  }

  input {
    padding: 0.75rem 1rem;
    border: 2px solid transparent;
    width: 350px;
    font-size: 1rem;
    background-color: whitesmoke;
    color: #333;
  }

  a {
    position: absolute;
    padding: 0.6rem 0.75rem;
    background-color: rgb(6, 25, 56);
    right: 0.25rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--primary-color);
    border-radius: 2rem;

    &:hover {
      color: var(--primary-color);
      background-color: var(--hover-btn);
    }
  }
}
